.parent {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.child1 {
  width: 150px;
  height: 190px;
  border-radius: 10px;
  box-shadow: 7px 9px 10px grey;
  text-align: center;
  /* padding: 4px; */
  font-size: smaller;
}
.child2 {
  width: 150px;
  height: 190px;
  border-radius: 10px;
  box-shadow: 7px -9px 10px grey;
  text-align: center;
  /* padding: 4px; */
  font-size: smaller;
}
.circle {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  /* font-size: 50px; */
  color: #fff;
  text-align: center;
  background: rgb(202, 189, 189);
}
